<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/createData">Create Data</a></li>
            <li><a href="/updateData">Update Data</a></li>
        </ul>
    </nav>
</header>